Screen {
    background: #0f1117;
    color: #d8d8de;
    align: center middle;
}

#window {
    width: 90%;
    height: 85%;
    border: round #aa3bff;
    background: #16171d;
    layout: vertical
}

#nav {
    height: auto;
    max-height: 4;
    background: #16171d;
    border-bottom: solid #2e303a;
}

#nav > ListItem.--highlight {
    background: #aa3bff 30%;
    color: #ffffff;
}

#nav > ListItem {
    width: auto;
}

#main {
    width: 1fr;
    height: 1fr;
    align: center middle;
}

#home {
    width: 1fr;
    height: 1fr;
    align: center middle;
}

#home-title {
    width: auto;
    text-style: bold;
    text-align: center;
}

#url-input {
    width: 50%;
    margin-top: 1;
    border: round #aa3bff;
}

#previews,
#downloads {
    width: 1fr;
    height: 1fr;
    padding: 1 2;
}

#downloads-list {
    width: 40%;
    height: 1fr;
    layout: vertical;
    padding: 0 2;
}

#details-panel {
    width: 1fr;
    height: 1fr;
    layout: vertical;
    padding: 0 2;
}

#details-thumbnail {
    height: auto;
}

#details-description-scroll {
    height: 1fr;
}

#statusline {
    dock: bottom;
    height: 1;
    background: #aa3bff;
    color: #ffffff;
    padding: 0 1;
}

#statusline.-danger {
    background: #dc4646
}

#statusline.-success {
    background: #50c878;
    color: #0f1117;
}