Screen {
    background: #0f1117;
    color: #d8d8de;
    align: center middle;
}

#window {
    width: 90%;
    height: 85%;
    border: round #aa3bff;
    background: #16171d;
    layout: vertical
}

#nav {
    height: auto;
    max-height: 4;
    background: #16171d;
    border-bottom: solid #2e303a;
}

#nav > ListItem.--highlight {
    background: #aa3bff 30%;
    color: #ffffff;
}

#nav > ListItem {
    width: auto;
}

#main {
    width: 1fr;
    height: 1fr;
    align: center middle;
}

#home {
    width: 1fr;
    height: 1fr;
    align: center middle;
}

#home-title {
    width: auto;
    text-style: bold;
    text-align: center;
}

#url-input {
    width: 50%;
    margin-top: 1;
    border: round #aa3bff;
}

#previews,
#downloads {
    width: 1fr;
    height: 1fr;
    padding: 1 2;
}

#previews-list,
#downloads-list {
    width: 40%;
    height: 1fr;
    layout: vertical;
    padding: 0 0 0 2;
    scrollbar-size-vertical: 1;
    scrollbar-background: #16171d;
    scrollbar-color: #aa3bff 60%;
    scrollbar-color-hover: #aa3bff;
    scrollbar-color-active: #aa3bff;
}

#previews-list > ListItem,
#downloads-list > ListItem {
    margin-bottom: 1;
    padding-right: 1;
}

.list-label {
    width: 1fr;
}

#preview-details-panel,
#details-panel {
    width: 1fr;
    height: 1fr;
    layout: vertical;
    padding: 0 2;
}

#preview-details-thumbnail,
#details-thumbnail {
    height: auto;
    max-height: 18;
    margin-bottom: 1;
}

#preview-details-description-scroll,
#details-description-scroll {
    height: 1fr;
    padding-right: 1;
    scrollbar-size-vertical: 1;
    scrollbar-background: #16171d;
    scrollbar-color: #aa3bff 60%;
    scrollbar-color-hover: #aa3bff;
    scrollbar-color-active: #aa3bff;
}

#preview-details-panel.-empty #preview-details-description-scroll,
#details-panel.-empty #details-description-scroll {
    align: center middle;
}

#preview-details-panel.-empty #preview-details-description,
#details-panel.-empty #details-description {
    content-align: center middle;
}

#preview-edit-form {
    display: none;
    width: 1fr;
    height: 1fr;
    layout: vertical;
    padding: 0 2;
}

#edit-title-input,
#edit-url-input {
    margin-bottom: 1;
}

#edit-url-hint {
    color: #aa3bff;
    margin-bottom: 1;
}

#edit-description-input {
    height: 1fr;
}

#footer-bar {
    dock: bottom;
    height: auto;
    layout: vertical;
}

#statusline {
    height: 1;
    background: #aa3bff;
    color: #ffffff;
    padding: 0 1;
}

#statusline.-danger {
    background: #dc4646
}

#statusline.-success {
    background: #50c878;
    color: #0f1117;
}